<footer class="mt-8">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-center"
  >
    <span class="text-sm text-center text-gray-500 sm:text-center"
      >© 2023 <a href="https://github.com/lwfe" class="hover:underline">lwfe</a
      >. All Rights Reserved.
    </span>
  </div>
</footer>
